<p><strong>Name:</strong> <%= @application.user.full_name %></p>
    <p><strong>Cover Letter:</strong> <%= @application.cover_letter %></p>
    <p><strong>Resume:</strong> <%= @application.resume %></p>
    <p><strong>Additional Information:</strong> <%= @application.additional_information %> </p>

    
